.wrapper {
	font-weight: bold;
	background: red;
}
.component-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .component-logo {
    animation: component-logo-spin infinite 20s linear;
  }
} 

.component-link {
  color: #61dafb;
}

@keyframes component-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
